# Installed packages can always be recreated with npm install.
node_modules/

# A .env file is a plain text file used by developers to store sensitive data and configuration settings (environment variables)
# separate from the main source code.This file will later contain private database and security settings.
.env